* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: 600;
  color: var(--color-secondary);
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}